<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ivansuhendra.packinggla">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_*" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.PackingGLA"
        android:usesCleartextTraffic="${usesCleartextTraffic}">
        <service
            android:name=".NotifFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_packing" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_200" />
        <activity
            android:name=".ui.activity.PalletLoadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PalletReceiveDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TransferNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NewTransferNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.NewPalletTransferActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PalletTransferDetailActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="packing.glaindonesia.lan"
                    android:pathPattern="/packing-app/public/api/pallet-transfer/.*"
                    android:scheme="http" />


            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".ui.activity.ScanQrActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RootActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PackingGLA.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>